<div class="container">
<h1>Stupid coaching</h1>
  <div class="my-3 border border-left-5">
    <%= @question%>
    <p>-You</p>
  </div>
  <div class="alert alert-warning p-50" role="alert">
  <%=  @answer%>
  <p>- your coach</p>
  </div>
</div>
